html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color:white;
  font-family: 'Bungee', cursive;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
#debug {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  padding: 20px;
  color:white;
  font-family: helvetica;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
canvas {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.intro {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  // background: black;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  h1 {
    filter: url("#squiggly-0");
    
  }

  .wrap{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    height: 60px;
  }
    .loader {
      position: absolute;
      top:50%;
      left: 50%;
      width: 84px;
      margin: 0 auto;
      height: 21px;
      // overflow: hidden;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      .progress {
        position: absolute;
        background-size: 100% 100%;
        height: 100%;
        width: 0%;
        overflow: hidden;
      }
      .bg {
        position: relative;
        background: url(../assets/img/loader-progress.png) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 86px;
      }
      .top {
        position: absolute;
        background: url(../assets/img/loader-border.png) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
      }

    }
    .btn {
      position: absolute;
      cursor: pointer;
      padding: 15px;
      color:white;
      top:50%;
      left:50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      visibility: hidden;
      font-size: 25px;
      .phone & {
        font-size: 18px;
      }
    }


}

.instruction {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;

  .space {
    position: relative;
    margin: 0 auto;
    width: 81px;
    height: 21px;

    .touchzone {
      position: absolute;
      opacity: 0.5;
      top: -40px;
      left: -200%;
      width: 500%;
      height: 100px;
    }

    .energy {
      position: absolute;
      background-size: 100% 100%;
      height: 100%;
      width: 0%;
      overflow: hidden;
      background: black;
    }
    .bg {
      position: relative;
      background: url(../assets/img/spacebar-progress.png) no-repeat;
      background-size: 100% 100%;
      height: 100%;
      left: 1px;
      width: 85px;
    }
    .top {
      position: absolute;
      background: url(../assets/img/spacebar-border.png) no-repeat;
      background-size: 100% 100%;
      height: 100%;
      width: 102%;
      // z-index: -1;
    }

  }
}
h1 {
  font-size: 120px;
  .tablet & {
    font-size: 80px;
  }
  .phone & {
    font-size: 40px;
  }
}
h1{
  opacity: 0;
  visibility: hidden;
  background: url(../assets/img/snow-texture.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.credits {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  font-family: 'Permanent Marker', cursive;
  color:#434343;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  a {
    text-decoration: none;
    color:#434343;
    transition: color 0.5s;

    &:hover {
      color:#bfbfbf;
    }

  }
}
.desktop {
  .touch {
    display: none;
  }
}
.tablet, .phone {
  .no-touch {
    display: none;
  }
}


  .headphone {
    position: absolute;
    bottom: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color:#717171;
    visibility: hidden;
    opacity:0;
    width: 100%;
    text-align: center;
    z-index: 2;
    svg {
      width: 15px;
      fill:#bfbfbf;
      margin-left: 4px;
      margin-right: 4px;
    }
    span {
      color:#bfbfbf;

    }
  }
