body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color:white;
  font-family: 'Bungee', cursive;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
#debug {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  padding: 20px;
  color:white;
  font-family: helvetica;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
canvas {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.intro {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  // background: black;
  transform: translate(-50%, -50%);
  text-align: center;
  .loader {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    margin-top: 30px;
    .bar {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      .progress {
        position: relative;
        background: url(../assets/snow.png);

        height: 100%;
        width: 0;
      }
    }
  }
  .btn {
    position: absolute;
    cursor: pointer;
    top:0;
    margin: 0 auto;
    padding: 15px;
    color:white;
    width: 30%;
    left:50%;
    opacity: 0;
    transform: translate(-50%, 0);
    visibility: hidden;
  }
}

.space {
  position: absolute;
  height: 20px;
  background: #4c4c4c;
  bottom:12%;
  left: 50%;
  width: 150px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;

  .energy {
    background: white;
    height: 100%;
  }
}

h1, p {
  background: url(../assets/snow.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
