body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  color:white;

}
#debug {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  padding: 20px;
  color:white;
  font-family: helvetica;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
canvas {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.intro {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  background: black;
  transform: translate(-50%, -50%);

  .btn {
    color:white;
    background: red;
    height:50px;
  }
}
