body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
#debug {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  padding: 20px;
  color:white;
  font-family: helvetica;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

// .intro {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: black;
//   opacity: 0.5;
// }
